.navigation__links {
  opacity: 0.8;
  transition: all 2s;
  ul li {
    display: inline-block;
    list-style: none;
    margin-right: 4rem;
    &:last-child {
      margin-right: $side-margin-desktop;
    }
  }
  a {
    text-decoration: none;
    color: $color-white;
    padding-bottom: 10px;
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $color-white;
    }
  }
}
