.attribution {
  padding: 3rem;
  font-size: 12px;
  text-align: center;
  color: $color-very-dark-gray;
}
.attribution a {
  color: $color-white;
  text-decoration: none;
  &:hover {
    color: $color-accent-purple;
  }
}
